@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: darkorange;
    scroll-behavior: smooth;
    border-collapse: collapse;
}

#main_background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#main_video {
    width: 100vw;
    object-fit: cover;
    position: fixed;
}

#title{
    text-align: center;
    padding-top: 10px;
}

h2 {
    margin-top: 30px;
}

p {
    color: #C0EEF2;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    text-align: center;
}

hr {
    border-color: #C0EEF2;
    width: 90%;
    position: relative;
    transform: translateX(5%);
    margin-top: 15px;
}

nav {
    text-align: center;
}

nav li{
    display: grid;
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 1%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #C0EEF2;
    font-size: 18px;
    transition: transform 1s, color 1s;
}

nav a:hover {
    color: darkorange;
    transform: scale(1.2);
    transform-origin: bottom;
}

section {
    display: grid;
    place-items: center;
    max-width: 60vw;
}

#background {
    width: 60vw;
    background-color: #181823;
    position: relative;
    transform: translateX(30%);
    border-radius: 2%;
    box-shadow: 5px 0 10px 2px rgb(0, 0, 0.5);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform:  translateX(-30%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform:  translateX(0%);
}

ol li {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    color: #C0EEF2;
    text-align: center;
}

.video_container {
    width: 90%;
    height: 75%;
    overflow: hidden;
    position: relative;
    transform: translateY(-10%);
    border-radius: 2%;
}

.video_container video {
  width: 126%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transform: translateX(-10%);
}

#socials {
    display: inline-block;
}

#email {
    text-decoration: none;
    text-decoration: underline;
    color: darkorange;
}

.email {
    display: inline-block;
    margin-right: 0px;
}

.second_email {
    display: inline-block;
    margin-right: 0px;
    position: relative;
    transform: translateY(-20px);
}

.phone {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

#phone {
    color: darkorange;
}

#email_div, #phone_div {
    display: inline-block;
}

#email_div {
    margin-right: 25vw;
}

#second_email_div {
    margin-bottom: 10px;
}

#question {
    margin-left: 9%;
    margin-top: 1%;
    color: #C0EEF2;
}

button {
    color: white;
    background-color: darkorange;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10%;
    position: relative;
    top: -15vh;
    left: -24vw;
    transition: 0.5s ease;
}

button:hover {
    background-color: rgb(255, 190, 110);
    color: black;
}